<!DOCTYPE html>

<head>
  <title> Events list </title>
  <link rel="stylesheet" href="isapstyles.css" />
</head>

<body>
  {% for day in days %}
  <div class="day">
    <h2> {{ day.printDate() }} </h2>
    {% for event in day.events %}
    <div class="event {{ event.getEventClass() }}">

      <!-- for parallel sessions, small, rotated blocks with short names
         of siblings in the slot -->
      {% for evs in event.precedingSiblings() %}
      <div class="eventpre rotate-left {{ evs.sibling_class }}">
        <span class="shortname"> {{ evs.shortname }} </span>
      </div>
      {% endfor %}

      <!-- each event is in a block -->
      <div class="eventblock {{ event.printSiblingClass() }}">

        <!-- header with time, title, etc. -->
        <div class="header">
          <div class="infoblock">
            <div class="time">
              {{ event.printDay() }} {{ event.printStart() }} - {{ event.printEnd() }}
            </div>
            <div class="place">
              <span class="venue">
                {{ event.venue }}
              </span>
              <span class="code">
                {{ event.printEventCode() }}
              </span>
            </div>
          </div>
          <div class="titleblock">
            <div class="title">
              {{ event.printTitle() }}
            </div>
            <div class="chair">
              {{ event.printChair() }}
            </div>
          </div>
        </div>

        <!-- for each session, a block with paper info -->
        {% if event.hasSession() %}
        <div class="session {{ event._session.format }} shaded-region">
          <!-- for parallel sessions, a visual aid, blocks connecting to the
             parallel session -->
          <!-- contents of the session itself -->
          <div class="focused">
            {% for item in event._session._items %}
            <div class="item">
              <div class="title">
                {{ item.title }}
              </div>
              <div class="authors">
                {{ item.printAuthors() }}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>

      <!-- visual aid blocks with remaining parallel sessions -->
      {% for evs in event.succeedingSiblings() %}
      <div class="eventnext rotate-right {{ evs.sibling_class }}">
        <span class="shortname"> {{ evs.shortname }} </span>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</body>
