@page {
    size: Letter;
    margin: 1inch;
}



.authorName {
    font-style: italic;
    font-weight: bold;
}

.authorItems {
    position: absolute;
    right: 0px;
    left-margin: 10px;
    display: inline-block;
}


