@page {
    size: Letter;
    margin: 1inch;
}

.authorList {
    list-stype: none;
}

.authorName {
    font-style: italic;
    font-weight: bold;
}

.authorItems {
    position: absolute;
    right: 0px;
    left-margin: 10px;
    display: inline-block;
}


div .rotate-left {
/*    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg); */
    writing-mode: vertical-rl;
    /* transform: scale(-1, -1); */
}

div .rotate-right {
/*    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg); */
    writing-mode: vertical-lr;
}

