@page {
    size: Letter;
    margin: 1inch;
}

.authorList {
    list-style: none;
}

.authorName {
    font-style: italic;
    font-weight: bold;
}

.authorItems {
    right: 0px;
    margin-left: 10px;
    display: inline-block;
}


/* event list. Events are split over several days, day is the largest unit. */

/* document structure with classes:
   * zero or more
   ? optional
   - only one
   + one or more

   - body
     * div .day
       - h2
       * div .event { PAR | PLENARY | POSTER } [SYMPOSIUM]
         * div .eventpre .rotate-left .pre_sibling{0|1|2}
           - span .shortname
	 - div .eventblock .sibling{0|1|2}
	   - div .header
             - div .infoblock
               - div .time
               - div .place
                 - span .venue
                 - span .code
             - div .titleblock
               - div .title
               - div .chair
           ? div .session .shaded-region
	     - div .focused
               * div .item
                 - div .title
                 - div .authors
         * div .eventnext .rotate-right .post_sibling{0|1|2}
           - span .shortname
*/
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

.day {
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 11px;
    overflow-wrap: break-word;
}

.day .event {
    width: 100%;
    display: block;
    align-items: left;
    align-content: stretch;
    column-gap: 4px;
    break-inside: avoid;
}

/* all blocks within events slightly separated */
.event > * {
    padding: 4px;
}

.event .eventblock {
    margin: auto;
    padding-top: 30px;
    display: block;
    width: 100%
}

.event .header {
    width: 100%;
    display: block;
    align-items: top;
    border-bottom: 2px solid lightgray;
    border-left: 2px solid lightgray;
    border-radius: 7px;
}

.event .header .infoblock {
    width: 21%;
    padding-right: 2%;
    padding-left: 2%;
    display: inline-block;
    /*border: 1px solid red;*/
}

.event .header .titleblock {
    display: inline-block;
    position: relative;
    min-width: 60%;
    top: 0px;
    vertical-align: top;
    text-align: top;
    /* border: 1px solid black; */
    padding-right: 4%;
    padding-left: 4%;
    margin-left: 20px;
    font-weight: bold;
}

.event .header .titleblock .title {
    vertical-align: top;
    /* border: 1px solid green; */
}

.event .header .titleblock .chair {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-style: oblique;
    text-align: center;
    font-weight: normal;
}

.event .eventblock .session {
    min-height: 100%;
    display: block;
    align-items: stretch;
    border-left: 2px solid lightgray;
    border-radius: 7px;
}

.shaded-region {
    padding-left: 4%;
    padding-right: 4%;
}

.event .eventpre {
    display: none;
    width: 0%;
    vertical-align: middle;
    text-align: center;  
    flex-grow: 0;
}

.event .eventnext {
    display: none;
    width: 0%;
    vertical-align: middle;
    text-align: center;
}

.session .focused {
    display: block;
}


.infoblock .code {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    float: right;
}

div .rotate-right {
    writing-mode: vertical-rl;
    /* transform: scale(-1, -1); */
}

div .rotate-left {
    writing-mode: vertical-lr; 
}

span.time {
    font-style: italic;
    font-weight: lighter;
    width: 20%;
}

div.eventblock {
    margin-bottom: 4px;
}

.session .authors {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-style: oblique;
    text-align: right;   
}

